<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">


<div th:fragment="head">
    <!-- Bootstrap stylesheets and script -->

    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/happyhour.css}" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'/>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet"/>
        <link href='https://fonts.googleapis.com/css?family=Alatsi' rel='stylesheet'/>
        <link href='https://fonts.googleapis.com/css?family=Alata' rel='stylesheet'/>
        <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'/>
        <link href='https://fonts.googleapis.com/css?family=Lilita One' rel='stylesheet'/>

    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script></head>
</div>

<div th:fragment="header" class="page-header text-center my-5">
    <h1>Happy Hour Locator</h1>
</div>

<div th:fragment="navbar" id="navbar">
    <div id="logo">
        Happy Meower
    </div>
    <div id="nav">
        <ul>
            <li><a th:href="@{/}">Search Home</a></li>
            <li><a th:href="@{/owner-home}">Owner Home</a></li>
            <li><a th:href="@{/owner-login}" sec:authorize="!isAuthenticated()">Log In</a>
                <a th:href="@{/logout}" sec:authorize="isAuthenticated()" >Log Out</a></li>
        </ul>
    </div>
</div>

<div th:fragment="navbar-bump" class="navbar-bump"></div>

<div th:fragment="search">
    <form th:action="@{results}" method="post" class="d-flex flex-column">
        <div class="searchbar">
            <input class="search_input" type="text" name="searchTerm" placeholder="Search Happy Hours Near You">
            <button class="search_icon" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div><ul id="indexDay">
        <li th:each="day:${dayOfWeek}" >
            <label th:text="${day}"></label>
            <input type="radio" name="dayOfWeek" th:value="${day}"  />
        </li>
    </ul>

    </form>
</div>

<div th:fragment="map">
    <!--The div element for the map -->
    <div id="map" style="width:1000px; height: 500px; margin: auto auto 100px;"><!--MAP GOES HERE--></div>
    <script th:inline="javascript">
  var geocoder;
  var map;

  /*<![CDATA[*/
    var addressList = /*[[${addressList}]]*/;
  /*]]>*/

  function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    mapTypeId: 'roadmap'
    });

    var bounds = new google.maps.LatLngBounds();

    function geocodeAddressesAndMarkAndCenter(addressList){
        for (var i = 0; i < addressList.length; i++) {
            geocoder.geocode( { 'address': addressList[i]}, function(results, status) {
                if (status == 'OK') {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }

                bounds.extend(results[0].geometry.location);
                map.fitBounds(bounds);
                if(map.zoom > 15) {
                    map.setZoom(15);
                }
            });
        }
    }

    geocodeAddressesAndMarkAndCenter(addressList);

  }

</script>
    <script th:inline="javascript" async="async" defer="defer"
            src=REDACTED>
    </script>  <!--This script verifies Google API Key, establishes link with registered API products, and initialize Map Script-->
</div>

<body></body>
</html>