<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head"></head>

<title th:text="${title}"></title>

<body id="index-background">
<div th:replace="fragments :: navbar"></div>
<div>
    <div>

<!--        SAMPLE VERSION OF USE-->
<!--        <div sec:authorize="isAuthenticated()">-->
<!--            <span sec:authentication="name"></span>-->
<!--            This content is only shown to authenticated users.-->
<!--        </div>-->
        <div>
            <div th:replace="fragments :: search"></div>
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th> New Happy Hours</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="happy : ${happyHours}">
                    <tr>
                        <td>
                            <a th:href="@{'/user-view/'+${happy.id}}" th:text="${happy}" class="btn btn-secondary " role="button" ></a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{'/owner-registration'}" th:text="'Want to add your Happy Hour?'" class="btn btn-primary " role="button"></a>
        </div>
    </div>
</div>
</body>
</html>