<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<title th:text="${title}"></title>

<body class="index-background">

<div th:replace="fragments :: navbar"></div>

<div class="vh-100 row align-items-center">
    <div class="card bg-dark text-white mx-auto w-75 shadow-lg p-3 mb-5 rounded">
        <img src="/img/login.png" class="card-img" alt=#>
        <div class="card-img-overlay">
            <div class="d-flex flex-row-reverse h-100">
                <div class="align-self-center p-6">
                <h4>Register to add your own happy hour:</h4>
                    <p>Cats are restricted from the distribution and consumption of alcohol</p>
            <form method="post">
                <div class="form-group">
                    <label>Username
                        <input class="form-control" th:field="${registerFormDTO.username}"/>
                    </label>
                    <p class="error" th:errors="${registerFormDTO.username}"></p>
                </div>
                <div class="form-group">
                    <label>Password
                        <input class="form-control" th:field="${registerFormDTO.password}" type="password"/>
                    </label>
                    <p class="error" th:errors="${registerFormDTO.password}"></p>
                </div>
                <div class="form-group">
                    <label>Verify Password
                        <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
                    </label>
                </div>

                <input type="Submit" class="btn btn-primary" value="Register"/>
            </form>
    </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>