<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<title th:text="${title}"></title>

<body class="container bg" style="font-family: Comic Sans MS, Comic Sans, cursive; font-weight: bold; color: white;">

        <div th:replace="fragments :: navbar"></div>

        <div class="d-flex justify-content-end p-2" >
    <a th:href="@{'/logout'}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Logout</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <form method="post">
                <label>CREATE NEW HAPPY HOUR</label>
                <div class="form-group">
                    <label>Happy Hour Name
                        <input th:field="${happyHour.name}" class="form-control">
                    </label>
                    <p class="error" th:errors="${happyHour.name}"></p>
                </div>

                <div class="form-group">
                    <label>Happy Hour Address
                        <input th:field="${happyHour.address}" class="form-control">
                    </label>
                    <p class="error" th:errors="${happyHour.address}"></p>
                </div>
                <div class="form-group">

                    <label>Happy Hour Day</label><br>
                    <th:block th:each="day:${dayOfWeek}">
                        <label th:text="${day}"></label>
                        <input type="checkbox" th:field="*{timeFormDTO.dayOfWeek}" th:value="${day}" th:id="${day}" />
                        <div  th:class="hideaway+${day}">
                            <label>Start Time</label>
                            <select th:field="*{timeFormDTO.startTime}" >
                                <option th:each="time:${displayTimes}" th:value="${time.key}" th:text="${time.value}"></option>
                            </select>
                        </div>
                        <div  th:class="hideaway+${day}">
                            <label>End Time</label>
                            <select th:field="*{timeFormDTO.endTime}" >
                                <option th:each="time:${displayTimes}" th:value="${time.key}" th:text="${time.value}"></option>
                                <option th:value="${2400}" text="12 am"></option>
                            </select>
                        </div>

                    </th:block>
                    <div class="form-group">
                        <label>Happy Hour Website
                            <input th:field="${happyHour.website}" class="form-control" th:href="@{${happyHour.website}}" placeholder="http://">
                        </label>
                        <p class="error" th:errors="${happyHour.website}"></p>
                    </div>

                </div>
                <div class="col text-center">
                    <input type="submit" value="Create" class="btn btn-primary">
                </div>
            </form>
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Business</th>
                    <th scope="col">Times</th>
                    <th scope="col">Address</th>
                    <th scope="col">Website</th>
                </tr>
                </thead>
                <tbody>
                                    <tr th:each="happyHour : ${happyHours}">
                                        <td th:text="${happyHour.name}"></td>
                                        <td th:text="${happyHour.getStandardDayTime()}"></td>
                                        <td th:text="${happyHour.address}"></td>
                                        <td>
                                        <a th:href="${happyHour.website}" th:text="${happyHour.website}" target="_blank"></a>
                                    </td>
                                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div></div>

</body>
</html>