<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" class="h-100">
<head th:replace="fragments :: head">
</head>
<title th:text="${title}"></title>

<body class="index-background">

    <div th:replace="fragments :: navbar"></div>

    <div th:replace="fragments :: header"></div>

    <div class="row d-flex justify-content-center">
            <form method="post">
                <div class="form-group">
                    <label>Username
                        <input class="form-control" th:field="${registerFormDTO.username}"/>
                    </label>
                    <p class="error" th:errors="${registerFormDTO.username}"></p>
                </div>
                <div class="form-group">
                    <label>Password
                        <input class="form-control" th:field="${registerFormDTO.password}" type="password"/>
                    </label>
                    <p class="error" th:errors="${registerFormDTO.password}"></p>
                </div>
                <div class="form-group">
                    <label>Verify Password
                        <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"/>
                    </label>
                </div>

                <input type="Submit" class="btn btn-primary" value="Register"/>
            </form>
    </div>


</body>

</html>