<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<title th:text="${title}"></title>
<body class="index-background">

<div th:replace="fragments :: navbar"></div>
<div class="d-flex flex-column vh-100">
    <div class="d-flex p-5">
        <div class="card w-50 bg-white shadow">
            <h5 class="card-header" th:text="${happyHour.name}"></h5>
            <div class="card-body">
                <h6>Address: </h6>
                <p class="card-text" th:text="${happyHour.address}"></p>
                <h6>Time: </h6>
                <p class="card-text" th:text="${happyHour.getStandardDayTime()}"></p>
                <h6>Website: </h6>
                <a th:href="${happyHour.website}" th:text="${happyHour.website}" target="_blank" class="btn btn-primary"></a>
            </div>
       </div>
        <div th:replace="fragments :: map"></div>
    </div>



</div>


</body>

</html>
