<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<title th:text="${title}"></title>
<body >
<div class="bg">
    <div class="container">
        <div class="d-flex justify-content-center h-auto pb-5">
            <table class="table">
                <thead>
                <tr>
                    <th th:text="${happyHour.name}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${happyHour.address}"></td>
                </tr>
                <tr>
                    <td th:text="${happyHour.getStandardDayTime()}"></td>
                </tr>
                </tbody>

            </table>

        </div>

        <div th:replace="fragments :: map"></div>

    </div>
</div>

</body>

</html>
