<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<title th:text="${title}"></title>
<body id="index-background">

<div th:replace="fragments :: navbar"></div>

<div th:replace="fragments :: navbar-bump"></div>

<div>
    <div class="container">
        <div class="d-flex justify-content-center h-auto pb-5">
            <table class="table">
                <thead>
                <tr>
                    <th th:text="${happyHour.name}"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${happyHour.address}"></td>
                </tr>
                <tr>
                    <td th:text="${happyHour.getStandardDayTime()}"></td>
                </tr>
                </tbody>
                <tr>
                <td>
                    <a th:href="${happyHour.website}" th:text="${happyHour.website}" target="_blank"></a>
                </td>
                </tr>

            </table>

        </div>

        <div th:replace="fragments :: map"></div>

    </div>
</div>

</body>

</html>
