.index-background{
    background-color: #6699cc;
     background-image: url("/img/background.png");
     background-position: center center;
     background-repeat: no-repeat;
    background-size:cover;
     background-position:center center;
     background-attachment: fixed;
     padding-top: 56px;
     font-family:Acme,Verdana, sans-serif;
}

.p-6{
    padding: 9rem!important;
}
li {
    list-style: none;
    display: inline-block;
    padding-right: 40px;
}

li a {
    text-decoration: none!important;
    font-family: Alatsi;
    font-size: 18px;
    color:  #0086b3;
}
li a:hover {
    color: #33ccff;
}
h4{
text-decoration: none!important;
    font-size: 18px;
    color:  #000000;
    text-align: center
    }
.navbar-brand {
    font-family: Aclonica;
    font-size: 35px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 10px;
    width: 520px;
}

.search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    padding: 0 10px;
    caret-color:transparent;
    line-height: 40px;

}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #e74c3c;
    text-decoration:none;
}
.hideawayMONDAY{

display:none;
}
#MONDAY:checked ~ .hideawayMONDAY{
color:black;
  display:block;
}
.hideawayTUESDAY{
display:none;
}
#TUESDAY:checked ~ .hideawayTUESDAY{
  display:block;
}
.hideawayWEDNESDAY{
display:none;
}
#WEDNESDAY:checked ~ .hideawayWEDNESDAY{
  display:block;
}
.hideawayTHURSDAY{
display:none;
}
#THURSDAY:checked ~ .hideawayTHURSDAY{
  display:block;
}
.hideawayFRIDAY{
display:none;
}
#FRIDAY:checked ~ .hideawayFRIDAY{
  display:block;
}
.hideawaySATURDAY{
display:none;
}
#SATURDAY:checked ~ .hideawaySATURDAY{
  display:block;
}
.hideawaySUNDAY{
display:none;
}
#SUNDAY:checked ~ .hideawaySUNDAY{
  display:block;
}

ul#indexDay li{
height:20%;
 display:inline;
 padding-right: 20px;
 padding-left: 0px;
 }