
.bg{
    background-color: #34cfeb;
     background-image: url("/img/HappyHourBG.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: auto 100%;
     padding-top: 56px;
}

.navbar-bump {
    padding-top: 100px;
}

li {
    list-style: none;
    display: inline-block;
    padding-right: 40px;
}

li a {
    text-decoration: none!important;
    font-family: Alatsi;
    font-size: 18px;
    color:  #0086b3;
}
li a:hover {
    color: #33ccff;
}

.navbar-brand {
    font-family: Aclonica;
    font-size: 35px;
}
.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 450px;
    padding: 0 10px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #e74c3c;
    text-decoration:none;
}